.container {
    overflow-wrap: normal;
}
body {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 60em;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

a {
    color: #41b7d8;
}

table td {
    padding: 0.5em 1em;
    border: 1px solid #ddd;
}

table tr {
    border-top: 1px solid #ccc;
}
