.container {
    overflow-wrap: normal;
}
body {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 60em;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

table td {
    padding: 0.5em 1em;
    border: 1px solid #ddd;
}

table th {
    padding: 0.5em 1em;
    border: 1px solid #ddd;
}
.menu {
    background-color:#1A2634; 
    height: 3em;
}
.menu-elem {
    margin: 1em;
    display: inline-block;
}
